<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <script
			src="https://kit.fontawesome.com/e314b60c33.js"
			crossorigin="anonymous"
    ></script>
    <title>CodeClashRAM</title>
</head>
<body>
<div class="sidebar">
  <div class="sidebar-content">
    <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#submission"><i class="fa fa-fw fa-file-import"></i> Submit</a>
    <a href="#board"><i class="fa fa-fw fa-ranking-star"></i> Ranking</a>
    <a href="#contact"><i class="fa-brands fa-discord"></i> Contact</a>
  </div>
  <p class="footer">CodeClashRAM</p>
</div>
<div class="main">
  <h1>Welcome to CodeClashRAM!</h1>
  <p>This is a programming competition website designed for college students in the field of computer science
      who are seeking challenges to solve and learn from. Let me guide you through how it works.</p>
  <h2>How It Started?</h2>
  <p>Dr. Calvin Higgins found himself quite bored during the summer, which led him to enlist my help,
      <strong>"Daniel Diaz,"</strong> in creating an engaging challenge just for you. The challenge involves
      a seemingly simple task: counting the words in a file. However, the twist is to discover the quickest
      method to achieve this. Your task is to find the most efficient solution without relying on assistant
      tools like chatGPT or GitHub Copilot. Instead, make use of your knowledge and, of course, the invaluable
      tool we all know as <strong>GOOGLE.</strong></p>
  <h2>Getting Started</h2>
  <p>For a more comprehensive description of the problem, head over to the <a href="#submission">"Submit"</a> tab.
      Once you've submitted your solution, keep an eye on the ranking in the scoreboard section. Lastly, if you have
      any questions, don't hesitate to reach out to Calvin. Feel free to ask him as many questions as you need.
      Happy coding!</p>
  <blockquote>"The only way to do great work is to love what you do." - Steve Jobs</blockquote>
</div>
</body>
</html>